<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.system.my.mapper.productMapper.CategoryMapper" >
  <resultMap id="BaseResultMap" type="com.system.my.base.product.ProductCategoryDTO" >
    <result column="parent_code" property="parentCode" jdbcType="CHAR" />
    <result column="category_code" property="categoryCode" jdbcType="CHAR" />
    <result column="icon_image" property="iconImage" jdbcType="VARCHAR" />
    <result column="image" property="image" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="BIT" />
    <result column="creator_id" property="creatorId" jdbcType="BIGINT" />
    <result column="creator_name" property="creatorName" jdbcType="VARCHAR" />
    <result column="creator_time" property="creatorTime" jdbcType="TIMESTAMP" />
    <result column="last_modify_id" property="lastModifyId" jdbcType="BIGINT" />
    <result column="last_modify_name" property="lastModifyName" jdbcType="VARCHAR" />
    <result column="last_modify_time" property="lastModifyTime" jdbcType="TIMESTAMP" />
  </resultMap>

  <sql id="Base_Column_List" >
    image,parent_code, category_code, name, status, creator_id, creator_name, creator_time,
    last_modify_id, last_modify_name, last_modify_time
  </sql>
  <select id="selectAllChildrenCategory" resultMap="BaseResultMap">
    select
    icon_image,parent_code, image,category_code, name, status, creator_id, creator_name, creator_time,
    last_modify_id, last_modify_name, last_modify_time
    from t_product_category
    where parent_code != '0'
  </select>

  <select id="selectCategoryByCategoryCode" resultMap="BaseResultMap" parameterType="java.lang.String">
    select
    icon_image,image,parent_code, category_code, name, status, creator_id, creator_name, creator_time,
    last_modify_id, last_modify_name, last_modify_time
    from t_product_category
    where category_code = #categoryCode#
  </select>

  <select id="countByParentCode" resultType="java.lang.Integer" parameterType="java.lang.String">
    select
    count(*)
    from t_product_category
    where parent_code = #parentCode#
  </select>
  <select id="countAllCategoryParent" resultType="java.lang.Integer">
    select
    count(*)
    from
    t_product_category
    where parent_code = '0'
  </select>
  <select id="categoryCodeCheck" resultMap="BaseResultMap" parameterType="java.lang.String">
    select
    icon_image,image,parent_code, category_code, name, status, creator_id, creator_name, creator_time,
    last_modify_id, last_modify_name, last_modify_time
    from
    t_product_category
    where category_code = #categoryCode#
  </select>
  <select id="getAllCategory" resultMap="BaseResultMap">
    select
    icon_image,image,parent_code, category_code, name, status, creator_id, creator_name, creator_time,
    last_modify_id, last_modify_name, last_modify_time
    from t_product_category
  </select>
  <select id="getCategoryParentNoPage" resultMap="BaseResultMap">
    select
    icon_image,image,parent_code, category_code, name, status, creator_id, creator_name, creator_time,
    last_modify_id, last_modify_name, last_modify_time
    from
    t_product_category
    where parent_code = '0'
  </select>
  <select id="getCategoryNoParent" resultMap="BaseResultMap" parameterType="com.system.my.base.product.Page">
    select
    icon_image,image,parent_code, category_code, name, status, creator_id, creator_name, creator_time,
    last_modify_id, last_modify_name, last_modify_time
    from t_product_category
    where parent_code = '0'
    limit $start$,$size$
  </select>

  <select id="getByParentCodeWxAPI" resultMap="BaseResultMap" parameterType="java.lang.String">
    select
    icon_image,parent_code, image,category_code, name, status, creator_id, creator_name, creator_time,
    last_modify_id, last_modify_name, last_modify_time
    from t_product_category
    where parent_code = #parentCode#
  </select>

  <select id="getByParentCode" resultMap="BaseResultMap" parameterType="com.system.my.base.product.Page">
    select
    icon_image,image,parent_code, category_code, name, status, creator_id, creator_name, creator_time,
    last_modify_id, last_modify_name, last_modify_time
    from t_product_category
    where parent_code = #condition#
    limit $start$,$size$
  </select>
  <insert id="insert" parameterType="com.system.my.base.product.ProductCategoryDTO">
    insert into t_product_category (parent_code, category_code, name,
      status, creator_id, creator_name,
      creator_time, last_modify_id, last_modify_name,
      last_modify_time)
    values (#parentCode#, #categoryCode#, #name#,
      #status#, #creatorId#, #creatorName#,
      #creatorTime#, #lastModifyId#, #lastModifyName#,
      #lastModifyTime#)
  </insert>

  <update id="update" parameterType="com.system.my.base.product.ProductCategoryDTO">
    update t_product_category
    <set>
      <if test="status !=null">
        <![CDATA[ status = #status# ]]>
      </if>
      <if test="iconImage !=null">
        <![CDATA[  icon_image = #iconImage# ]]>
      </if>
      <if test="name !=null">
        <![CDATA[ name = #name# ]]>
      </if>
      <if test="image !=null">
        <![CDATA[ image = #image# ]]>
      </if>
      <if test="lastModifyId !=null">
        <![CDATA[ last_modify_id = #lastModifyId# ]]>
      </if>
      <if test="lastModifyName !=null">
        <![CDATA[last_modify_name = #lastModifyName# ]]>
      </if>
      <if test="lastModifyTime !=null">
        <![CDATA[last_modify_time = #lastModifyTime# ]]>
      </if>
    </set>
    where category_code = #categoryCode#
  </update>
</mapper>